<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(135deg, #34495e, #2c3e50);
            margin: 0;
            padding: 0;
        }

        .profile-container {
            width: 80%;
            margin: 40px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
        }

        .post-container {
            width: 80%;
            margin: 40px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
        }

        .post-container h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        textarea {
            width: calc(100% - 20px);
            height: 100px;
            margin-bottom: 10px;
            outline: none;
            padding: 10px;
            border: 1px solid #cccccc48;
            border-radius: 5px;
            resize: none;
        }

        input[type="submit"] {
            display: block;
            width: 100px;
            margin: 0 auto;
            padding: 10px;
            background-color:#2a99e3;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #2980b9;
        }

        
    </style>
</head>

<body>
    <div class="profile-container">
        <h1>
            <%= user.name %>
        </h1>
    </div>

    <div class="post-container">
        <h1>Update Posts</h1>
        <form action="/update/<%= post._id %>" method="post">
            <textarea name="content" id=""><%= post.content %></textarea>
            <input type="submit" value="Update">
        </form>
    </div>






</body>

</html>