<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Create Account</title>
    <style>
        /* Custom styles */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }

        html body{
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, #34495e, #2c3e50);
        }

      

        .form-container {
           /* position: absolute; */
            max-width: 400px;
            margin: 7rem auto ;
            background-color: #ffffff;
            border-radius: 20px;
            padding: 40px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }
        .form-container h1 {
            font-size: 2.5rem;
            color: #34495e;
            text-align: center;
            margin-bottom: 30px;
        }
        .form-input {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            border: none;
            margin-bottom: 20px;
            font-size: 1rem;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
        }
        .form-input:focus {
            outline: none;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }
        .form-submit {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            border: none;
            background-color: #2ecc71;
            color: #ffffff;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .form-submit:hover {
            background-color: #27ae60;
        }
    </style>
</head>
<body>


        <div class="form-container mt-16">
            <h1>Login Account</h1>
            <form action="/login" method="post">
                <input class="form-input" type="text" placeholder="Username" name="username" required>
                <input class="form-input" type="password" placeholder="Password" name="password" required>
                <input class="form-submit" type="submit" value="Login">
            </form>
        </div>

</body>
</html>
