<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="flex justify-center w-full items-center text-white h-screen bg-zinc-900">
        <div class="bg-zinc-800 w-3/4 w- p-10 rounded shadow-md">
            <h1 class="text-3xl font-bold mb-5">Login Your Account</h1>
            <form method="post" action="/login">
                <div class="mb-5">
                    <label for="username" class="block text-lg font-bold">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter username"
                        class="w-full px-4 py-2 outline-none bg-zinc-700 rounded-md  ">
                </div>
                <div class="mb-5">
                    <label for="password" class="block text-lg font-bold">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password"
                        class="w-full px-4 py-2 outline-none bg-zinc-700 rounded-md">
                </div>
                
                <div class="flex justify-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>